<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="icon" href="<%=asset_path("logo.png") %>" sizes="32x32">
  <title>Stan Bozhinov, Web Dev</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.6/js/lightgallery.min.js" ></script>    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.18/css/lightgallery.css" rel="stylesheet">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="<%= asset_path("myscript.js") %>" ></script>
    <link rel="stylesheet" type="text/css" href="<%= asset_path("styles.css.erb") %>">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-inverse" role = "navigation">
    
   <div class="container"> 
    <div class="navbar-header text-center">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="./"><img src="<%=asset_path "logo.png" %>"></a>
    </div>
       <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav text-center">
    <li  class="<%= 'active' if params[:controller] == 'welcome' %>"><a href= "./">  <span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li  class="<%= 'active' if params[:controller] == 'resume' %>"><a href= "./resume.html">     <span class="glyphicon glyphicon-list-alt"></span> Resume </a></li>
             <li  class="<%= 'active' if params[:controller] == 'portfolio' %>"><a href= "./portfolio.html">     <span class="glyphicon glyphicon-folder-open"></span>&nbsp; Portfolio </a></li>
			 <li  class="<%= 'active' if params[:controller] == 'contact' %>"><a href= "./contact.html"><span class="glyphicon glyphicon-envelope"></span> Contact </a></li>
    </ul>
       </div>
   </div>
</nav>

<%= yield %>


<footer class="footer ">
    <p class="container text-muted"> © Stan Bozhinov 2016. </p>

</footer>

<script>$(".container p, h2")
  // Blast the text apart by word.
  .blast({ delimiter: "word" })
  // Fade the words into view using Velocity.js.
  .velocity("transition.fadeIn", { 
    display: null,
    duration: 30,
    stagger: 10,
    delay: 0
  });</script>
</body>
</html>
